.home {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 8vh 5vw;
    margin: 6vh 15vw;
    border: 0.5px solid gray;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 5vh;
}
.amount{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 200px;
    height: 30vh;
}


.money{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 45%;
}

.money input {
    font-size: 16px; 
    width: calc(100% - 20px);
    height: 4vh;  
    padding-block: 10px;
    padding-inline: 10px;
    border-radius: 5px;
    border: 0.5px solid grey;
}
.money select {
    font-size: 16px; 
    border-radius: 5px;
    height: calc(4vh + 20px); 
    border: 0.5px solid grey;
}

.home h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

@media screen and (max-width: 700px) {
    .home {
        padding: 5vh 2vw;
        margin: 15vh 5vw;
    }
    .amount{
        min-height: 100px;
        height: 20vh;
    }

    .money input {
        font-size: 14px;
        width: calc(100% - 10px);
        height: 3.5vh;
        padding-block: 5px;
        padding-inline: 5px;
    }


    .money select {
        font-size: 14px;
        height: calc(3.5vh + 10px);
    }

    .home h1 {
        font-size: 23px;
    }
}



